   .topnav {
       background-color: rgb(37, 34, 34);
       color: white;
       overflow: hidden;
       text-align: center;
       font-style: italic;
       border: 10px outset rgb(190, 190, 190);
   }
   /* Style the links inside the navigation bar */
   
   .topnav a {
       float: left;
       color: #f2f2f2;
       text-align: center;
       font-style: italic;
       text-align: center;
       padding: 20px 16px;
       text-decoration: none;
       font-size: 25px;
   }
   /* Change the color of links on hover */
   
   .topnav a:hover {
       background-color: #ddd;
       text-align: center;
       color: black;
       font-style: italic;
   }
   /* Add a color to the active/current link */
   
   .topnav a.active {
       /* background-color: #bd3030; */
       color: white;
       font-style: italic;
   }
   
   header {
       padding: 10px;
       text-align: center;
       background: rgb(255, 255, 255);
       color: black;
       font-size: 15px;
   }
   
   .HeadOfHeader {
       margin: auto;
       border: 10px outset rgb(184, 31, 31);
       background-color: rgb(161, 161, 255);
       color: white;
       font: bold;
   }
   
   body {
       font-style: italic;
       font: bold;
       background: rgb(255, 255, 255);
       background-image: url("https://i.pinimg.com/originals/7e/fc/2c/7efc2cb33ee4eb9d7625ca1eca702506.gif");
   }
   
   .logo {
       display: block;
       margin: 0px auto;
       text-align: center;
   }
   
   .storia {
       margin: auto;
       border: 10px outset rgb(184, 31, 31);
       background-color: rgb(161, 161, 255);
       color: white;
       font: bold;
   }
   
   th,
   td {
       padding: 8px;
       font-style: italic;
       text-align: left;
       color: black;
       font: bold;
       font-family: 'Lobster', cursive;
       border-bottom: 7px solid rgb(184, 31, 31);
   }
   
   tr:hover {
       background-color: rgb(161, 161, 255);
       height: 8px;
       background-color: rgb(161, 161, 255);
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       font-family: 'Lobster', cursive;
       color: black;
       font: bold;
   }
   
   table {
       margin: auto;
   }
   
   .immaginebarbiere {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
   }
   
   .PoleBarberGif {
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 50%;
   }
   
   .intestazione {
       margin: auto;
       border: 10px outset rgb(184, 31, 31);
       background-color: rgb(161, 161, 255);
       color: white;
       font: bold;
   }
   
   .Contatti {
       margin: auto;
       border: 16px outset rgb(184, 31, 31);
       background-color: rgb(161, 161, 255);
       color: white;
       font: bold;
       text-align: center;
   }
   
   .Scelta {
       padding: 10px;
       text-align: center;
       color: black;
       font-size: 15px;
   }
   
   .Ricerca {
       float: right;
   }
   
   .BottonePrenotaAppuntamento {
       text-align: center;
       margin: auto;
   }
   
   .BottoneTaglio {
       border: none;
       background-color: inherit;
       padding: 4px 4px;
       font-size: 13px;
       cursor: pointer;
       color: black;
       font-weight: bold;
   }
   
   hr {
       border: 10px outset rgb(231, 9, 9);
   }
   
   input.ng-invalid {
       border: 3px solid red;
   }