<!DOCTYPE html>
<html>

<head>
    <title>Mark's Beauty Saloon - Area Prenotazioni Uomo</title>
</head>

<body>

    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="app-home-page"><i class="fa fa-home"></i> Torna alla home page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="app-sezione-acquisti"> <i class="fa fa-cart-plus"></i> Vedi la sezione acquisti</a>
                    </li>
                </ul>
            </div>
        </nav>

        <header *ngIf="!preloader">
            <div class="intestazione-pagina" *ngIf="!preloader">
                <h1>MARK'S BEAUTY SALON</h1>
                <h1>Sezione maschile</h1>
            </div>
        </header>

        <div class="row">
            <div class="col-12">
                <main>
                    <h1>Un pò di storia:</h1>
                    <h2> Divenuto nel corso degli anni un vero e proprio punto di riferimento per i cultori del grooming, The Mark's beauty salon offre servizi a barba e capelli di altissima qualità. Ogni dettaglio è curato per accompagnarvi in un’esperienza
                        autentica in un ambiente dal tono formale e moderno. Tutti i servizi proposti rappresentano la perfetta combinazione tra l’arte della rasatura italiana e le migliori tecniche provenienti da barberie americane ed inglesi. The Mark's
                        beauty salon offre inoltre ai propri clienti una linea completa di prodotti ed accessori Bullfrog che contribuiscono a rendere il grooming un vero e proprio culto old school.
                    </h2>
                </main>
            </div>
        </div>


        <section class="sezione-servizi">
            <div class="row">
                <h1 style="margin-bottom: 15px;">I nostri servizi</h1>
                <div class="col-3">
                    <div class="taglio-shampoo">
                        <i class="fa fa-star"></i>
                        <h3>Taglio+shampoo</h3>
                        <h4>Shampoo pre-taglio, esecuzione del taglio accordato e shampoo finale.</h4>
                    </div>
                </div>
                <div class="col-3">
                    <div class="rasatura-completa">
                        <i class="fa fa-star"></i>
                        <h3>Rasatura completa</h3>
                        <h4>Rasatura dei capelli a macchinetta e lametta</h4>
                    </div>
                </div>
                <div class="col-3">
                    <div class="rasatura-barba">
                        <i class="fa fa-star"></i>
                        <h3>Rasatura barba a lametta</h3>
                        <h4>Rasatura della barba con rasoio a mano libera "King cutter", tra i migliori sul mercato</h4>
                    </div>
                </div>
                <div class="col-3">
                    <div class="trattamento-barba">
                        <i class="fa fa-star"></i>
                        <h3>Trattamento alla barba</h3>
                        <h4>Trattamento pre-taglio con panno caldo, esecuzione della rasatura accordata e applicazione di dopobarba "Bullfrog"</h4>
                    </div>
                </div>
            </div>
        </section>

        <div class="prenotazione" *ngIf="!preloader">
            <h3> Per prenotare un appuntamento, compila il form sottostante.</h3>
        </div>
        <!-- Area Prenotazioni-->
        <div class="BottonePrenotaAppuntamento" *ngIf="!preloader">
            <br> <br> &nbsp;<button class="btn btn-primary" (click)="ShowHidden()">Clicca qui per compilare il form.</button>
        </div> <br><br><br>
        <div class="form" *ngIf="showHidden && !preloader">
            <br> &nbsp;
            <input type="text" [(ngModel)]="prenotazione.cliente" placeholder="Inserisci nome" required #validCliente="ngModel" minlength="3" maxlength="35" pattern="[a-zA-Z\s]*"> &nbsp;
            <input type="date" [(ngModel)]="prenotazione.dataPrenotazione" required placeholder="Inserisci data di prenotazione"> &nbsp;

            <input type="time" [(ngModel)]="prenotazione.ora" placeholder="ora prenotazione" required> &nbsp;

            <!-- <input type="text" [(ngModel)]="prenotazione.tipoDiServizio" placeholder="servizio richiesto" required minlength="6" pattern="[a-zA-Z\s]*"> &nbsp; -->
            <select class="tipo-servizio" name="servizio" [(ngModel)]="prenotazione.tipoDiServizio" required minlength="6" pattern="[a-zA-Z\s]*">
                <option value="Taglio" style="font-size: 1.5em;">Taglio+shampoo</option>
                <option value="rasatura" style="font-size: 1.5em;">Rasatura completa</option>
                <option value="rasaturaBarba" style="font-size: 1.5em;">Rasatura barba a lametta</option>
                <option value="trattamentoBarba" style="font-size: 1.5em;">Trattamento alla barba</option>
                </select> &nbsp;
            <button class="btn btn-primary" (click)="aggiungiPrenotazione()" *ngIf="stato == 'V'"><i class="fa fa-plus"></i> Prenota</button> &nbsp;
            <button class="btn btn-info" (click)="resetForm()" *ngIf="stato == 'V'"><i class="fa fa-undo"></i> Reset</button> &nbsp;



            <div class="Ricerca" style="float: right;" *ngIf="showScelta">

                <input type="text" [(ngModel)]="search" placeholder="Cerca cliente">&nbsp;&nbsp;

                <button class="btn btn-primary" (click)="ricerca()"><i class="fa fa-search"></i> Cerca</button>&nbsp;
                <button class="btn btn-info" (click)="resetSearchForm()" *ngIf="stato == 'V'"><i class="fa fa-undo"></i> Reset</button> &nbsp;

                <button class="btn btn-primary" (click)="aggiornaDopoRicerca()" [disabled]="stato != 'S'"> <i class="fa fa-refresh" aria-hidden="true"></i> Aggiorna tutto</button>&nbsp;

            </div>

            <br> <br> <br>

            <h2 *ngIf="messaggio">{{messaggio}}</h2>


            <div class="row">
                <div class="col-12">
                    <div class="alert alert-success" role="alert" style="text-align: center;" *ngIf="showAdd">
                        <h3> <i class="fa fa-check"></i> Prenotazione effettuata.</h3>
                    </div>
                </div>

                <div class="col-12">
                    <div class="alert alert-danger" role="alert" *ngIf="noAdd">
                        <h3> <i class="fa fa-exclamation-triangle"></i> Errore: uno o più campi non sono stati compilati.</h3>
                    </div>
                </div>



                <div class="col-12">

                    <div class="alert alert-warning" *ngIf="stato=='T'"><i class="fa fa-sync"></i></div>

                    <div class="alert alert-success" *ngIf="showSearch">
                        <h3> <i class="fa fa-check"></i> La ricerca ha prodotto i seguenti risultati:</h3>
                    </div>
                    <!-- <div class="alert alert-success" *ngIf="resetted">
                        <h3> <i class="fa fa-check"></i> Form resettato.</h3>
                    </div> -->
                    <div class="alert alert-danger" *ngIf="notFoundSearch">
                        <h3> <i class="fa fa-exclamation-triangle"></i> Errore: dato non trovato.</h3>
                    </div>
                    <div class="alert alert-warning" *ngIf="showMod">
                        <h3> <i class="fa fa-check"></i>Prenotazione modificata con successo.</h3>
                    </div>
                    <div class="alert alert-danger" *ngIf="showNoMod">
                        <h3> <i class="fa fa-check"></i>Operazione annullata con successo</h3>
                    </div>
                    <div class="alert alert-danger" *ngIf="noMod">
                        <h3><i class="fa fa-exclamation-triangle"></i> Errore. Impossibile effettuare questa modifica:</h3>
                        <h3>Non puoi svuotare una cella e salvare, annulla l'operazione per proseguire.</h3>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="noSearch">
                        <h3><i class="fa fa-exclamation-triangle"></i> La ricerca non ha prodotto nessun risultato.</h3>
                    </div>
                    <div class="alert alert-danger" *ngIf="showDel">
                        <h3> <i class="fa fa-check"></i>Prenotazione disdetta con successo.</h3>
                    </div>
                    <div class="alert alert-warning" *ngIf="staiEliminando">
                        <h3> <i class="fa fa-exclamation-triangle"></i> Stai eliminando un dato, sei sicuro di voler effettuare questa operazione?</h3>
                    </div>
                    <div class="alert alert-warning" *ngIf="staiModificando">
                        <h3> <i class="fa fa-exclamation-triangle"></i> Stai modificando un dato, sei sicuro di voler effettuare questa operazione?</h3>
                    </div>
                </div>

            </div>

            <div class="Scelta" *ngIf="!preloader">
                <button class="btn btn-success" (click)="conferma()" *ngIf="stato == 'A' || stato == 'M' || stato == 'R'"> <i class="fa fa-check"></i> Conferma</button>
                <button class="btn btn-danger" (click)="annulla()" *ngIf="stato == 'A' || stato == 'M' || stato == 'R'"> <i class="fa fa-window-close"></i> Annulla</button>
            </div>
            <br>
            <br>
            <div class="col-12">
                <div class="tabella">
                    <table *ngIf="!preloader">
                        <tr>
                            <th>Cliente </th>
                            <th>Data prenotazione</th>
                            <th>Ora prenotazione</th>
                            <th>Tipo di servizio</th>
                            <th>Modifica</th>
                            <th>Elimina</th>
                        </tr>
                        <tr *ngFor="let p of prenotazioni">
                            <td>Il sig. {{p.cliente}} verrà</td>
                            <td>il giorno {{p.dataPrenotazione}}</td>
                            <td>alle ore {{p.ora}}</td>
                            <td> per {{p.tipoDiServizio}}</td>
                            <td>

                                <button class="btn btn-warning" (click)="modifica(p)">
                        <i class="fa fa-edit"></i>Modifica</button>

                            </td>
                            <td>
                                <i class="fas fa-trash-alt"></i>
                                <button class="btn btn-danger" (click)="elimina(p)">
                        <i class="fa fa-trash"></i>
                        Elimina</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <br> <br> <br><br><br><br><br><br> <br>
        <div *ngIf="preloader">
            Errore: controllare il server.
            <img src="https://acegif.com/wp-content/uploads/loading-53.gif" alt="In attesa di risposta dal server...">
        </div>
    </div>
</body>

</html>