.nav-link {
    font-weight: bold;
    color: black;
}

.container-fluid {
    background-color: rgb(204, 204, 221);
}

header {
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 15px;
}

.HeadOfHeader {
    background-color: rgb(232, 220, 220);
    color: #FFFFFF;
    text-align: center;
    border: 10px outset rgb(68, 208, 121);
}

body {
    font-style: italic;
    font: bold;
    background: rgb(255, 255, 255);
}

.logo {
    display: block;
    margin: 0px auto;
    text-align: center;
}

.storia {
    background-color: rgb(232, 220, 220);
    color: white;
    text-align: center;
    border: 10px outset rgb(68, 208, 121);
}

th,
td {
    padding: 8px;
    font-style: italic;
    text-align: left;
    color: black;
    font: bold;
    font-family: 'Lobster', cursive;
    border-bottom: 7px solid rgb(232, 49, 49);
}

tr:hover {
    background-color: rgb(219, 219, 235);
    height: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Lobster', cursive;
    font: bold;
}

table {
    margin: auto;
}

.col-12 {
    text-align: center;
}

.immaginebarbiere {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.PoleBarberGif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.intestazione {
    background-color: rgb(232, 220, 220);
    color: #FFFFFF;
    text-align: center;
    border: 10px outset rgb(68, 208, 121);
}

.Contatti {
    background-color: rgb(232, 220, 220);
    color: black;
    text-align: center;
    border: 10px outset rgb(68, 208, 121);
}

.Scelta {
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 15px;
}

.Ricerca {
    float: right;
}

.BottonePrenotaAppuntamento {
    text-align: center;
    margin: auto;
}

.BottoneTaglio {
    border: none;
    background-color: inherit;
    padding: 4px 4px;
    font-size: 13px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}


/* hr {
     border: 10px outset rgb(0, 0, 0);
 } */

input.ng-invalid {
    border: 3px solid red;
}