<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="app-home-page">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="app-area-prenotazioni">Area uomo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="app-sezione-donna">Area donna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="app-sezione-acquisti">Sezione acquisti</a>
            </li>
        </ul>
    </div>
</nav>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <section>
                <h1>MARK'S BEAUTY SHOP</h1>
            </section>
        </div>
        <!--fine col-->
    </div>
    <!--fine row header-->
    <br><br><br>
    <div class="row">
        <div class="col-7">
            <main>
                <h3> The Mark's beauty shop nasce a Roma nel 2021 dall’intuizione e dal sogno del suo ideatore Marco
                    Bonaccorso.
                    Il negozio si trova in Via Cipro 100, ad un passo da San Pietro e dai Musei Vaticani ed è composto
                    da due
                    piani: al piano terra c'è la
                    sezione maschile e al piano superiore c'è la sezione femminile.</h3>
            </main>
        </div>
        <!--fine col-6 main-->
        <div class="col-5">
            <div class="imgSala">
                <img src="https://i.pinimg.com/originals/20/13/34/201334119d2bb8687765b1dc33fe9534.jpg"
                    alt="Immagine del salone di bellezza">
            </div>
        </div>
        <div class="col-6">
            <aside>
                <h3>Scopri i servizi che offriamo: dal taglio dei capelli
                    al trattamento alla barba con prodotti qualificati Bullfrog,
                    agli innumerevoli servizi estetici.</h3>
            </aside>
        </div>
    </div>
    <!--fine row main-->
    <div class="orari">
        <div class="DescrizioneOrari">
            <h3>The Mark's Beauty Shop è aperto dal lunedì al sabato dalle 10:00 alle 20:00.</h3>
        </div>
    </div>
    <br>
    <div class="TabellaOrari">
        <div class="row">
            <div class="col-8">
                <table class="table table-dark table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Giorno</th>
                            <th scope="col">Apertura</th>
                            <th scope="col">Chiusura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lunedì</td>
                            <td>09:00</td>
                            <td>20:00</td>
                        </tr>
                        <tr>
                            <td>Martedì</td>
                            <td>09:00</td>
                            <td>20:00</td>
                        </tr>
                        <tr>
                            <td>Mercoledì</td>
                            <td>09:00</td>
                            <td>20:00</td>
                        </tr>
                        <tr>
                            <td>Giovedì</td>
                            <td>09:00</td>
                            <td>20:00</td>
                        </tr>
                        <tr>
                            <td>Venerdì</td>
                            <td>09:00</td>
                            <td>20:00</td>
                        </tr>
                        <tr>
                            <td>sabato</td>
                            <td>09:00</td>
                            <td>20:00</td>
                        </tr>
                        <tr>
                            <td>Domenica</td>
                            <td>Chiuso</td>
                            <td>Chiuso</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td>Prenota subito il tuo appuntamento!</td>
                    </tfoot>
                </table>
            </div>
            <!--fine col-->
            <div class="col-4">
                <img src="https://64.media.tumblr.com/7d655d04342695616f79eaafd9231e11/cacb28effc51d9ae-8c/s540x810/e9ef4c4e2bbd7e64b9a2f80a1d1eacd8f43585a1.gifv"
                    alt="">
            </div>
        </div>
        <!--fine row-->
    </div>
    <!--fine TabellaOrari-->
    <br><br>
    <br><br>
    <div class="sloganDue">
        <h2>Entri che sei in crisi esistenziale,esci che sei un incanto universale!</h2>
    </div>
    <br>
    <div class="ContattiNegozio">
        <a name="#fondo"></a>
        Indirizzo:Via Cipro 100, 00136 Roma RM<br>
        Tel. cell: +39 328 236 5019
    </div>
    <br><br><br><br><br>
</div>