<!DOCTYPE html>
<html>

<head>
    <title>Mark's Beauty Salon - home page</title>
</head>

<body>
    <div class="container-fluid">

            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navbar">
                            <li class="nav-item">
                                <a class="nav-link" (click)="scrolla()"> Chi siamo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/app-area-prenotazioni']"> <i class="fa fa-scissors" aria-hidden="true"></i> Sezione maschile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/app-sezione-donna']"> <i class="fa fa-female"></i> Sezione femminile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/app-sezione-acquisti']"><i class="fa fa-cart-plus"></i> Sezione acquisti</a>
                            </li>
                        
                        </ul>
                    </div>
                </nav>
            </div>
        

        <div class="row">
            <div class="col-12">
                <header>
                    <h1>THE MARK'S BEAUTY SALON</h1>
                    <h2>Pagina principale</h2>
                </header>
            </div>
        </div>
        <div class="col-12">
            <main>
                <h1>Chi siamo</h1>
                <h2> The Mark's beauty salon nasce a Roma nel 2021 dall’intuizione e dal sogno del suo ideatore Marco Bonaccorso.</h2>
                <h2>Il negozio si trova in Via Cipro 100, ad un passo da San Pietro e dai Musei Vaticani ed è diviso in due sezioni: sezione maschile e sezione femminile. Scopri i servizi che offriamo!</h2>
            </main>
        </div>
        <section class="sezione-servizi">
            <div class="row">
                <h1 style="margin-bottom: 15px;">I nostri servizi</h1>
                <div class="col-4">
                    <div class="servizio-capelli">
                        <i class="fa fa-star"></i>
                        <h3>CURA E TAGLIO CAPELLI</h3>
                        <h4>Per uomo e donna: shampoo pre-taglio, esecuzione del taglio accordato e shampoo finale.</h4>
                    </div>
                </div>
                <div class="col-4">
                    <div class="servizio-barba">
                        <i class="fa fa-star"></i>
                        <h3>TRATTAMENTO BARBA</h3>
                        <h4>Con prodotti bullfrog verranno dati alla vostra barba tutti i trattamenti di cui necessita. </h4>
                    </div>
                </div>

                <div class="col-4">
                    <div class="servizio-estetica">
                        <i class="fa fa-star"></i>
                        <h3>TRATTAMENTI ESTETICI</h3>
                        <h4>Per uomo e per donna: manicure, pedicure, ricrescita delle sopracciglia ed altro con adeguati prodotti.</h4>
                    </div>
                </div>
            </div>
        </section>

        <div class="col-12">
            <div class="orari">
                <div class="DescrizioneOrari">
                    <h3>The Mark's Beauty Saloon è aperto nei seguenti orari:</h3>
                </div>
            </div>
        </div>
        <table class="Tabella-orari">
            <thead>
                <tr>
                    <th scope="col">Giorno</th>
                    <th scope="col">Apertura</th>
                    <th scope="col">Chiusura</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lunedì</td>
                    <td>09:00</td>
                    <td>20:00</td>
                </tr>
                <tr>
                    <td>Martedì</td>
                    <td>09:00</td>
                    <td>20:00</td>
                </tr>
                <tr>
                    <td>Mercoledì</td>
                    <td>09:00</td>
                    <td>20:00</td>
                </tr>
                <tr>
                    <td>Giovedì</td>
                    <td>09:00</td>
                    <td>20:00</td>
                </tr>
                <tr>
                    <td>Venerdì</td>
                    <td>09:00</td>
                    <td>20:00</td>
                </tr>
                <tr>
                    <td>sabato</td>
                    <td>09:00</td>
                    <td>20:00</td>
                </tr>
                <tr>
                    <td>Domenica</td>
                    <td>Chiuso</td>
                    <td>Chiuso</td>
                </tr>
            </tbody>
        </table>

        <div class="gallery-man">
            <div class="row">
                <div class="col-12">
                    <h1>Galleria</h1>
                </div>
                <div class="row">
                    <div class="col-3">
                        <img src="https://www.polverinihairacademia.com/wp-content/uploads/2020/02/Come-diventare-barbiere-e1581933417333.jpg" alt="galleria foto uomo uno" class="img-fluid">
                    </div>
                    <div class="col-3">
                        <img src="https://blog.barberiaitaliana.com/wp-content/uploads/2021/01/DSC06064-min-1170x730.jpg" alt="galleria foto uomo 2" class="img-fluid">
                    </div>
                    <div class="col-3">
                        <img src="https://www.conoscounposto.com/wp-content/uploads/2019/02/Barberinos.jpg" alt="galleria immagine uomo 3" class="img-fluid">
                    </div>
                    <div class="col-3">
                        <img src="https://www.inews24.it/wp-content/uploads/2020/05/barbiere-1.jpg" alt="galleria immagine uomo 4" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!--fine div gallery-man-->


        <div class="gallery-woman">
            <div class="row">
                <div class="col-3">
                    <img src="https://www.radiomontecarlo.net/resizer/-1/-1/true/GettyImages-1147811403-1588860776665.jpg--.jpg?1588860777000" alt="galleria foto donna 1" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="https://citynews-romatoday.stgy.ovh/~media/horizontal-mid/19648098059351/parrucchiera-generica-2.jpg" alt="immagine donna 2" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="https://business.uala.it/journal/wp-content/uploads/2020/03/perche-diventare-parrucchiere-antonio-strafella-piega.jpg" alt="galleria donna immagine 3" class="img-fluid">
                </div>
                <div class="col-3">
                    <img src="https://www.fiscozen.it/site/uploads/2020/10/codice-ateco-parrucchiere-841x561.jpeg" alt="galleria immagine donna 4" class="img-fluid">
                </div>
            </div>

        </div>

        <div class="brands">
            <app-brands></app-brands>
        </div>


        <div class="ContattiNegozio">
            <button type="button" class="btn btn-link" (click)="scroll()" style="color: black;">
                    Indirizzo:Via Cipro 100, 00136 Roma RM
                </button>
        </div>
    </div>
</body>

</html>