.nav-link{
    font-weight: bold;
    color: black;
}
   
.TabellaOrari {
    margin-left: auto;
    font-style: italic;
    margin-right: auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    color: black;
    font: bold;
    font-family: 'Lobster', cursive;
}

  tr:hover {
    background-color: rgb(255, 255, 255);
}

h1,h2,h3,h4 {
    font-family: 'Lobster', cursive;
    color: black;
    font: bold;
}

