.nav-link{
    font-weight: bold;
    color: black;
}
   
  table{
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
  }

  tr:hover {
    background-color: rgb(255, 255, 255);
}

h1,h2,h3,h4 {
    font-family: 'Lobster', cursive;
    color: black;
    font: bold;
}