/* bottoni */

.bottonBack {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.bottonAddProduct {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: green;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.BottonDeleteProduct {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px red;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: red;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}


/* body e i suoi elementi */

body {
    background: rgb(255, 255, 255);
        opacity: 0.9;
        background-image: url("https://pro2-bar-s3-cdn-cf5.myportfolio.com/491904c6aeb501a4774be5b09fbf1c78/63d4212c-a42a-4fea-9331-bd355faea4a3_rw_1200.gif?h=0702c76d40f08a03d2c5df4a3ac3ceca");
}

th,
td {
    padding: 8px;
    text-align: left;
    color: black;
    font: bold;
    font-family: 'Lobster', cursive;
    border-bottom: 7px solid rgb(231, 9, 9);
}

tr:hover {
    background-color: rgb(101, 159, 226);
    height: 8px;
    background-color: rgb(115, 115, 209);
}

table{
    margin: auto;
}

/* .tabellaProdottiCapelli {
    border: 1px solid beige;
    color: white;
    background-color: black;
} */