<html>

<head>
    <link rel="stylesheet" type="text/css" href="lista-prodotti.component.css">
</head>
<body>
    <!-- <button class="btn btn-primary" (click)="indietro()">Indietro</button> <br> <br> -->
    <div class="topnav" style="text-align: center;">
        <a href="app-home-page">Torna alla home page</a>
        <a href="app-sezione-acquisti">Torna alla sezione acquisti</a>
    </div>
    <br>
    <header >
        <div class="HeadOfHeader" style="text-align: center;">
            <h1>MARK'S BEAUTY SHOP</h1>
            <h1>Sezione acquisti</h1>
        </div>
    </header>
    <br>
    <div class="categoriaCapelli">
   <h1><strong>Categoria capelli</strong></h1> <br>
    </div> <br> <br>
    <div class="form">
        <input type="text" [(ngModel)]="prodotto.nome" placeholder="nome prodotto"> &nbsp;
        <input type="number" [(ngModel)]="prodotto.prezzo" placeholder="€"> &nbsp;
        <button class="btn btn-primary" (click)="aggiungiProdotto()">aggiungi prodotto</button>
        <div class="Ricerca" style="float: right;">
            <input type="text" [(ngModel)]="search" placeholder="ricerca">&nbsp;&nbsp;
            <button class="btn btn-outline-primary" (click)="ricerca()">cerca</button>&nbsp;
        </div>
    </div>
    <br>
    <hr>
    <div class="Scelta" style="margin: auto;">
        <button class="btn btn-success" (click)="conferma()"
            *ngIf="stato == 'A' || stato == 'M' || stato == 'R'">Conferma</button>
        <button class="btn btn-danger" (click)="annulla()"
            *ngIf="stato == 'A' || stato == 'M' || stato == 'R'">Annulla</button>
    </div>
    <br>
    <br>
    <table class="tabellaProdottiCapelli">
        <tr>
            <th>Prodotto </th>
            <th>Prezzo</th>
            <th>Modifica</th>
            <th>Elimina</th>
        </tr>

        <tr *ngFor="let p of prodotti">
            <td>BULLFROG-{{p.nome}}</td>
            <td>{{p.prezzo}} €</td>
            <td><button class="btn btn-warning" (click)="modifica(p)">Modifica</button></td>
            <td> <button class="btn btn-danger" (click)="elimina(p)">Elimina</button></td>
        </tr>
    </table>
    <hr>
    <br>

    <!-- <p> https://store.womostore.com/it_it/bullfrog/capelli.html</p> -->

</body>

</html>