<html>

<head>
    <link rel="stylesheet" type="text/css" href="sezione-donna-servizi-parrucchieri.component.css">
</head>

<body>
    <button class="bottonBack" (click)="indietro()">Indietro</button> <br> <br>
    <header>
        <h1>Benvenuti nella sezione parrucchieri.</h1>
        <h2> &nbsp;Dai un'occhiata ai nostri servizi.</h2>
        <h3> &nbsp; Attenzione: alcune celle della tabella sono interattive.</h3>
    </header>
    <br>
    <table class="TabellaServiziParrucchieri">
        <tr>
            <td>Servizio</td>
            <td> corti</td>
            <td> medi</td>
            <td> lunghi</td>
        </tr>
        <tr>
            <td>Piega</td>
            <td>16€</td>
            <td>18€</td>
            <td>20€</td>
        </tr>
        <tr>
            <td><button class="TaglioPiega" (click)="VediTagli()">Taglio e piega</button></td>
            <td>39€</td>
            <td>41€</td>
            <td>43€</td>
        </tr>
        <tr>
            <td><button class="Colore" (click)="VediColori()">Scelta colore</button></td>
            <td>30€</td>
            <td>33€</td>
            <td>35€</td>
        </tr>
        <tr>
            <td>Colore bio</td>
            <td>33€</td>
            <td>35€</td>
            <td>38€</td>
        </tr>
        <tr>
            <td>Colpi di sole</td>
            <td>70€</td>
            <td>80€</td>
            <td>90€</td>
        </tr>
        <tr>
            <td>Balayage/Shatush</td>
            <td>50€</td>
            <td>60€</td>
            <td>70€</td>
        </tr>
        <tr>
            <td>Riflessante/Colata</td>
            <td>15€</td>
            <td>20€</td>
            <td>25€</td>
        </tr>
        <tr>
            <td>Sostegno/Permanente</td>
            <td>45€</td>
            <td>55€</td>
            <td>65€</td>
        </tr>
        <tr>
            <td>Ricostruzione profiber</td>
            <td>//</td>
            <td>//</td>
            <td>12€</td>
        </tr>
        <tr>
            <td>Nashi express</td>
            <td>//</td>
            <td>//</td>
            <td>10€</td>
        </tr>
        <tr>
            <td>Filler nashi</td>
            <td>//</td>
            <td>//</td>
            <td>25€</td>
        </tr>
        <tr>
            <td>Fiala anti-caduta</td>
            <td>//</td>
            <td>//</td>
            <td>5€</td>
        </tr>
    </table>
    <br><br>
    <button class="bottonePrenotazione" (click)="PrenotaParrucchiere()">Prendi appuntamento</button> <br> <br>
</body>

</html>