   
   .topnav {
    background-color:rgb(37, 34, 34);
    color: white;
    overflow: hidden;
    text-align: center;
    font-style: italic;
    border: 10px outset rgb(190, 190, 190);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-style: italic;
    
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    text-align: center;
    color: black;
    font-style: italic;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    /* background-color: #bd3030; */
    color: white;
    font-style: italic;
  }

header {
    padding: 10px;
    text-align: center;
    background-color: rgb(115, 115, 209);
    color: gold;
    font-size: 15px;
}

body {
    background-color: white;
    background-image: url("https://i.pinimg.com/originals/7e/fc/2c/7efc2cb33ee4eb9d7625ca1eca702506.gif");

}

.bottoneAppuntamento{
    text-align: center;
    margin: auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    color: black;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    border-bottom: 7px solid rgb(231, 9, 9);
}

table {
    margin: auto;
}
.Scelta {
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 15px;
}

.immaginiEstetica {
    display: block;
    margin: 0px auto;
    text-align: center;
}

.intestazioneEstetica {
    margin: auto;
    text-align: center;
    border: 10px outset rgb(231, 9, 9);
    background-color: rgb(115, 115, 209);
    color: white;
    font: bold;
}


.Prenota{
    margin: auto;
    border: 10px outset rgb(231, 9, 9);
    background-color: rgb(115, 115, 209);
    color: white;
    font: bold;
}


/*Messaggi su schermo */

.Thanks {
    width: 1000px;
    text-align: center;
    margin: auto;
    border: 5px solid gold;
    background-color: rgb(87, 21, 87);
    color: white;
    font: bold;
}

.Mod {
    width: 1000px;
    text-align: center;
    margin: auto;
    border: 5px solid gold;
    background-color: rgb(87, 21, 87);
    color: white;
    font: bold;
}

.StaiModificando {
    width: 1000px;
    text-align: center;
    margin: auto;
    border: 5px solid gold;
    background-color: rgb(87, 21, 87);
    color: white;
    font: bold;
}

.StaiEliminando {
    width: 1000px;
    text-align: center;
    margin: auto;
    border: 5px solid red;
    background-color: rgb(170, 0, 0);
    color: white;
    font: bold;
}

.AnnullaMod {
    width: 1000px;
    text-align: center;
    margin: auto;
    border: 5px solid red;
    background-color: rgb(170, 0, 0);
    color: white;
    font: bold;
}

.Sorry {
    width: 1000px;
    text-align: center;
    margin: auto;
    border: 5px solid red;
    background-color: rgb(170, 0, 0);
    color: white;
    font: bold;
}


/* BOTTONI */

.bottonBack {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: rgb(87, 21, 87);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.bottonAddPrenotation {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: rgb(161, 194, 17);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.ButtonConferma {
    margin: auto;
    position: relative;
    color: rgb(161, 194, 17);
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: rgb(56, 20, 56);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.ButtonAnnulla {
    margin: auto;
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px red;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: rgb(170, 0, 0);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.ButtonModifica {
    position: relative;
    color: gold;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background: rgb(56, 20, 56);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.BottonDeletePrenotation {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: rgb(255, 0, 0);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.PrendiAppuntamento {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: rgb(87, 21, 87);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}