<html>

<head>
    <link rel="stylesheet" type="text/css" href="sezione-donna-servizi-estetica.component.css">
</head>

<body>
    <button class="bottonBack" (click)="indietro()">Indietro</button> <br> <br>
    <header>
        <h2>Benvenuti nell'area dedicata all'estetica.</h2>
        <h3> &nbsp;Listino prezzi</h3>
    </header>
    <br>
    <br> <br>
    <table class="TabellaServiziEstetica">
        <tr>
            <td>Servizio</td>
            <td> Prezzo</td>

        </tr>
        <tr>
            <td>Manicure</td>
            <td>15€</td>
        </tr>
        <tr>
            <td>Manicure (solo smalto)</td>
            <td>8€</td>
        </tr>
        <tr>
            <td>Sopracciglia ricrescita</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>Baffetti</td>
            <td>5€</td>
        </tr>
        <tr>
            <td>Pedicure</td>
            <td>25€</td>
        </tr>
    </table>
    <br> <br>
    <table class="Novità">
        <tr>
            <td>Servizio</td>
            <td>Prezzo</td>
        </tr>
        <tr>
            <td>Color motion</td>
            <td>40€</td>
        </tr>
        <tr>
            <td>
                Contourning
            </td>
            <td>25€</td>
        </tr>
    </table>
    <br> <br>
    <button class="bottoneAreaPrenotazioniEstetica" (click)="VaiAPrenotare()">Prenota Appuntamento Estetica</button>
    <br> <br>
</body>

</html>