.nav-link {
    font-weight: bold;
    color: black;
}

header {
    padding: 168px;
    text-align: center;
    background-color: rgb(204, 204, 221);
    color: black;
    font-size: 15px;
    font-style: italic;
    font: bold;
}

.container-fluid {
    background-color: rgb(204, 204, 221);
    font-style: italic;
    font: bold;
}

.logo {
    margin-top: 10px;
    display: block;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
}

.DescrizioneSezioneDonna {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background-color: #e9e9e9;
    padding-bottom: 10px;
}

.SezioneDonnaServiziParrucchieri {
    position: relative;
    color: gold;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px rgb(87, 21, 87);
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: rgb(87, 21, 87);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.sezioneDonnaServiziEstetica {
    position: relative;
    color: gold;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px rgb(87, 21, 87);
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: rgb(87, 21, 87);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.footer {
    background-color: white;
}