<html>

<head>
    <link rel="stylesheet" type="text/css" href="sezione-donna.component.css">
</head>

<body>
    <button class="btn btn-primary" (click)="indietro()" style="float: left;">Indietro</button> <br> <br>

    <div class="topnav" style="text-align: center;">
        <a href="app-gestione-appuntamento-parrucchiere">Sezione Parrucchiera</a>
        <a href="app-gestione-appuntamenti-estetica">Sezione estetica</a>
    </div>
    <br>
    <header>

        <h1>MARK'S BEAUTY SHOP</h1>
        <h2>Area femminile</h2>
        <br>
    </header>
    <br>
    <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzFH5zo9kHyd_PzruviQU3ajX2NmuG3h_40A&usqp=CAU" alt="Logo sezione femminile.">
    </div>
    <br><br>
    <div class="slogan">
        <h1>Se la vita prende una brutta piega, fattene fare una migliore dal tuo parrucchiere!</h1>
    </div>
    <br>
    <div class="DescrizioneSezioneDonna">

        <h2> &nbsp;Benvenuti nella sezione femminile dell'app. Questa sezione si suddivide in due sotto sezioni: Sezione
            Parrucchiere e Sezione estetica. Scopri i servizi che offriamo.
        </h2>
        <h2>Sezione femminile: per la sezione femminile sono previsti servizi parrucchieri ed estetici di ogni genere e
            con prodotti di ottima qualità.
            <br> Come lavoriamo? Semplice:
            <br>- Capire bene il desiderio della cliente
            <br>- Capire se il desiderio è apportato alla salute dei suoi capelli e alla vita che fa.
            <br>- Studiare lo stato attuale dei suoi capelli
            <br>- Studiare la morfologia del viso
            <br>-Verificare insieme quale sia la strada più giusta da prendere in modo da mantenere la salute dei
            capelli e sopratutto dare comodità e bellezza.
           
        </h2>
    </div>
    <br>
    
   <br>

</body>

</html>