<html>

<head>
    <link rel="stylesheet" type="text/css" href="sezione-donna.component.css">
</head>

<body>
    <button class="btn btn-primary" (click)="indietro()">Indietro</button> <br> <br>
    <header>
        <h1>Mark's barber shop</h1>
        <h2>Sezione donna</h2>
        <br>
    </header>
    <br><br><br>
    <div class="DescrizioneSezioneDonna">

        <h2> &nbsp;Benvenuti nella sezione femminile dell'app. Questa sezione si suddivide in due sotto sezioni: Sezione Parrucchiere e Sezione estetica.
        </h2>
    </div>
    <br>
    <div class="logo">
        <img src="https://image.freepik.com/free-vector/gradient-hair-salon-logo-template_23-2148859355.jpg" alt="logo donna">
    </div>
    <br>
    <button class="btn btn-outline-primary" (click)="SezioneDonnaServiziParrucchieri()">vai alla sezione Servizi Parrucchieri</button>
    <button class="btn btn-outline-primary" (click)="sezioneDonnaServiziEstetica()" style="float: right">Vai all'area Servizi estetica</button>
    <br> <br> <br>
</body>

</html>