.container-fluid {
    background-color: rgb(230, 219, 219);
}

.intestazione {
    text-align: center;
    font-family: 'Lobster', cursive;
    font: bold;
}

.logo-bullfrog {
    margin-left: 160px;
}


/* 

.logo-king-cutter {
    margin-right: 40px;
} */